.grid {
  display: grid;
  grid-template-columns: 2.5fr 4fr 1fr;
  height: 100vh;
}

.left {
  text-align: center;
}

.title {
  margin-top: 1.5rem;
  margin-left: 2vw;
  margin-right: 2vw;
}

.text {
  border-top: 3px solid rgb(255, 81, 0);
  padding-top: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2vw;
  margin-right: 2vw;
  transform: scale(0.9);
  width: 50vh;
}

footer {
  background-image: linear-gradient(
      to bottom,
      rgba(100, 207, 240, 0.18),
      rgba(100, 207, 240, 1)
    ),
    url("/img/YEP.png");
  letter-spacing: 0.2em;
  padding: 1vw;
  height: 100vh;
}

footer h1 {
  padding: 0;
  margin: 0;
  font-size: 32px;
  color: rgb(255, 81, 0);
}

footer p {
  color: rgb(5, 150, 240);
  font-size: 13px;
  padding: 0;
  margin: 1vh;
}

.trailer {
  font-size: 32px;
  border-top: 2px solid rgb(255, 81, 0);
  color: rgb(5, 150, 240);
  padding-top: 3px;
}

iframe {
  padding-top: 20px;
  padding-bottom: 20px;
}
.frame-container {
  zoom: 120%;
}
/* !Mid */

.mid {
  animation: slide 60s infinite;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* !Right */
.mobile {
  display: none;
}

.right {
  margin-left: 4vw;
}

.mini-img img {
  width: 50%;
  margin-top: 6vh;
  cursor: cell;
  animation: mini-img 1.3s infinite;
  animation-delay: calc(var(--order) * 12.1s);
}

.container {
  margin-top: 1.8rem;
  margin-left: 0.5vw;
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 50px;
  height: 2px;
  background-color: #333;
  margin: 7px 0;
  transition: 0.5s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
