@keyframes slide {
  0% {
    background-image: url("https://www.ghibli.jp/gallery/ponyo032.jpg");
  }

  15% {
    background-image: url("https://www.ghibli.jp/gallery/ponyo049.jpg");
  }

  25% {
    background-image: url("https://www.ghibli.jp/gallery/ponyo034.jpg");
  }

  45% {
    background-image: url("https://www.ghibli.jp/gallery/ponyo029.jpg");
  }

  65% {
    background-image: url("https://www.ghibli.jp/gallery/ponyo028.jpg");
  }

  85% {
    background-image: url("https://www.ghibli.jp/gallery/ponyo023.jpg");
  }

  100% {
    background-image: url("https://www.ghibli.jp/gallery/ponyo032.jpg");
  }
}

@keyframes mini-img {
  from {
    opacity: 0.4;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
