@media only screen and (min-width: 200px) and (max-width: 540px) {
  .grid {
    display: unset;
  }

  body {
    overflow-y: auto;
  }

  .title {
    width: 8rem;
    position: relative;
    margin-right: 40vw;
  }

  .mobile-menu {
    position: absolute;
    overflow: hidden;
    top: 1vh;
    right: 10vw;
    display: unset;
  }

  .text {
    width: 35vh;
    border-top: 0px solid black;
    transform: scale(1.25, 1.1);
  }

  .mid {
    animation: slide infinite ease-in-out;
    animation-duration: 100s;
    transition: 1s;
    background-position: center;
    background-size: cover;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

  .trailer2 {
    text-align: center;
    padding: 0;
    font-size: 28px;
    margin-left: 10vw;
    width: 7rem;
    border-bottom: 3px solid rgb(255, 81, 0);
    color: rgb(5, 150, 240);
  }

  .mobile-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 81, 0);
    font-size: 28px;
    letter-spacing: 0.3em;
    height: 20vh;
    background-image: linear-gradient(
        to bottom,
        rgba(100, 207, 240, 0.18),
        rgba(100, 207, 240, 0.4)
      ),
      url("img/YEP.png");
  }

  .frame-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
  }

  :is(.mini-img, .frame-container, .trailer, .big-footer, .container) {
    display: none;
    visibility: hidden;
  }

  :is(.mobile) {
    display: contents;
  }
}

@media only screen and (min-width: 420px) and (max-width: 540px) {
  .grid {
    display: unset;
  }
  html,
  body {
    overflow-y: auto;
  }

  .title {
    width: 10rem;
    position: relative;
    margin-right: 45vw;
  }

  .mobile-menu {
    position: absolute;
    overflow: hidden;
    top: 1vh;
    right: 10vw;
    display: unset;
  }

  .text {
    width: 42vh;
    border-top: 0px solid black;
    transform: scale(1.4, 1.2);
    margin-bottom: 6vh;
  }

  .mid {
    animation: slide infinite ease-in-out;
    animation-duration: 100s;
    transition: 1s;
    background-position: center;
    background-size: cover;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

  .trailer2 {
    text-align: center;
    padding: 0;
    font-size: 32px;
    margin-left: 10vw;
    width: 8rem;
    border-bottom: 3px solid rgb(255, 81, 0);
    color: rgb(5, 150, 240);
  }

  .mobile-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 81, 0);
    font-size: 52px;
    letter-spacing: 0.3em;
    padding: 1vw;
    height: 20vh;
    background-image: linear-gradient(
        to bottom,
        rgba(100, 207, 240, 0.18),
        rgba(100, 207, 240, 0.4)
      ),
      url("img/YEP.png");
  }

  .frame-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 125%;
    margin: 0px;
    margin-bottom: 5vh;
  }

  :is(.mini-img, .frame-container, .trailer, .big-footer) {
    display: none;
  }

  :is(.mobile) {
    display: contents;
  }
}
@media only screen and (min-width: 540px) and (max-width: 720px) {
  .grid {
    display: unset;
  }
  html,
  body {
    overflow-y: auto;
  }

  .title {
    width: 10rem;
    position: relative;
    margin-right: 60vw;
  }

  .container {
    position: absolute;
    overflow-y: hidden;
    top: 2%;
    right: 5vw;
  }

  .text {
    width: 45vh;
    border-top: 0px solid black;
    transform: scale(1.55, 1.2);
    margin-bottom: 8vh;
  }

  .mid {
    animation: slide infinite ease-in-out;
    animation-duration: 100s;
    transition: 1s;
    background-position: center;
    background-size: cover;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

  .trailer2 {
    text-align: center;
    padding: 0;
    font-size: 38px;
    margin-left: 10vw;
    width: 8rem;
    border-bottom: 3px solid rgb(255, 81, 0);
    color: rgb(5, 150, 240);
  }

  .mobile-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 81, 0);
    font-size: 52px;
    letter-spacing: 0.3em;
    padding: 1vw;
    height: 20vh;
    background-image: linear-gradient(
        to bottom,
        rgba(100, 207, 240, 0.18),
        rgba(100, 207, 240, 0.4)
      ),
      url("img/YEP.png");
  }

  .frame-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 180%;
    margin: 0px;
    margin-bottom: 2vh;
  }

  :is(.mini-img, .frame-container, .trailer, .big-footer) {
    display: none;
  }

  :is(.mobile) {
    display: contents;
  }
}

@media only screen and (min-width: 721px) and (max-width: 1024px) {
  .frame-container {
    zoom: 90%;
    margin-top: 2vh;
    margin-right: 2vw;
    margin-left: 2vw;
  }
  .title {
    width: 10rem;
    margin-bottom: 2vh;
  }

  .text {
    width: 35vh;
    margin-right: 3vw;
    margin-bottom: 10vh;
    transform: scale(0.9, 1.35);
  }

  .trailer {
    font-size: 28px;
    border-top: 2px solid rgb(255, 81, 0);
    color: rgb(5, 150, 240);
    padding-top: 2px;
    margin-top: 2vh;
    margin-right: 20vw;
  }

  footer {
    letter-spacing: 0.2em;
    padding-top: 3vh;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(100, 207, 240, 0.18),
        rgba(100, 207, 240, 1)
      ),
      url("img/YEP.png");
  }

  .right {
    margin-left: 2vw;
  }
  .mini-img img {
    width: 80%;
    margin-top: 4vh;
    animation: mini-img 1.3s infinite;
    animation-delay: calc(var(--order) * 12.1s);
  }
  .container {
    margin-top: 5vh;
    margin-left: 1.5vw;
    cursor: pointer;
  }
}

@media only screen and (min-width: 2560px) {
  .frame-container {
    zoom: 250%;
    margin-right: 2vw;
    margin-left: 2vw;
  }
  .title {
    width: 25rem;
    margin-bottom: 2vh;
  }

  .text {
    width: 50vh;
    margin-right: 3vw;
    margin-bottom: 5vh;
  }
  .trailer {
    font-size: 52px;
    border-top: 2px solid rgb(255, 81, 0);
    color: rgb(5, 150, 240);
    padding-top: 2px;
  }
  footer {
    letter-spacing: 0.2em;
    padding-top: 3vh;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(100, 207, 240, 0.18),
        rgba(100, 207, 240, 1)
      ),
      url("img/YEP.png");
  }

  footer h1 {
    font-size: 62px;
  }
  footer p {
    font-size: 32px;
  }
}
