* {
  box-sizing: border-box;
  overflow: hidden;
}

body,
html {
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background-color: bisque;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 4fr 1fr;
  height: 100vh;
}

.left {
  text-align: center;
  background-color: white;
}

.title {
  margin-top: 4rem;
  font-size: 72px;
}
.lorem {
  font-size: 24px;
  margin-top: 10rem;
  width: 20rem;
  margin-left: 4vw;
}

footer {
  margin-top: 10rem;
  height: 20%;
  width: 100%;
  font-size: 2em;
  background-color: lightblue;
}

.mid {
  animation: slide 40s infinite;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slides img {
  margin-top: 4rem;
  width: 100%;
}

.right {
  margin-left: 2vw;
}

.mini-img img {
  width: 70%;
  margin-top: 4vh;
  cursor: pointer;
  animation: mini-img 1s infinite;
  transition: 0.5s;
  animation-delay: calc(var(--order) * 150ms);
}

.container {
  margin-top: 2rem;
  margin-left: 2vw;
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -3px);
}
