* {
  box-sizing: border-box;
  overflow: hidden;
  /* !Undraggable */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@font-face {
  font-family: "Kabrio Abarth";
  src: url("/fonts/KabrioAbarth-Regular.woff2") format("woff2"),
    url("/fonts/KabrioAbarth-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.main {
  animation: main 15s forwards ease-in-out;
}

body,
html {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Kabrio Abarth";
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.6),
      rgba(5, 150, 240, 0.35)
    ),
    url("img/YEP.png");
}

.grid {
  display: grid;
  grid-template-columns: 2.5fr 4fr 1fr;
  height: 100vh;
}

.left {
  text-align: center;
}

.title {
  margin-top: 1.5rem;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vh;
}

.text {
  border-top: 3px solid rgb(255, 81, 0);
  padding-top: 10px;
  margin-bottom: 2vh;
  margin-left: 1vw;
  margin-right: 2vw;
  transform: scale(0.9);
  width: 45vh;
}

footer {
  letter-spacing: 0.2em;
  padding: 1vw;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(100, 207, 240, 0.18),
      rgba(100, 207, 240, 1)
    ),
    url("img/YEP.png");
}

footer h1 {
  padding: 0;
  margin: 0;
  font-size: 32px;
  color: rgb(255, 81, 0);
}

footer p {
  color: rgb(5, 150, 240);
  font-size: 13px;
  padding: 0;
  margin: 1vh;
}

.trailer {
  font-size: 32px;
  border-top: 2.5px solid rgb(255, 81, 0);
  color: rgb(5, 150, 240);
  padding-top: 3px;
  margin-right: 18vw;
}

iframe {
  padding-top: 20px;
  padding-bottom: 20px;
}

.frame-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-bottom: 2vh;
  zoom: 110%;
}
/* !Mid */

.mid {
  animation: slide 100s infinite ease-in-out;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* !Right */
:is(.mobile, .mobile-menu) {
  display: none;
}

.right {
  margin-left: 3vw;
}

.mini-img img {
  width: 60%;
  margin-top: 2vh;
  animation: mini-img 1.3s infinite;
  animation-delay: calc(var(--order) * 12.1s);
}

.container {
  margin-top: 5vh;
  margin-left: 1.5vw;
  cursor: pointer;
}

.mobile-menu {
  cursor: pointer;
  margin-top: 3vh;
  margin-left: 2vw;
}

.bar1,
.bar2,
.bar3 {
  width: 50px;
  height: 2px;
  background-color: #333;
  margin: 7px 0;
  transition: 0.5s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
