* {
  box-sizing: border-box;
  overflow: hidden;
  /* !Undraggable */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body,
html {
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.8),
      rgba(5, 150, 240, 0.2)
    ),
    url("YEP.png");
}

.grid {
  display: grid;
  grid-template-columns: 2.5fr 4fr 1fr;
  height: 100vh;
}

.left {
  text-align: center;
}

.title {
  margin-top: 1rem;
}

.text {
  border-top: 1px solid black;
  padding-top: 10px;
  font-size: 24px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 4vw;
  margin-right: 4vw;
}

footer {
  background-image: linear-gradient(
      to bottom,
      rgba(100, 207, 240, 0.1),
      rgba(100, 207, 240, 0.7)
    ),
    url("YEP.png");
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  flex-direction: column;
  letter-spacing: 0.2em;
  margin-top: auto;
  padding: 6.67vw 0px;
  width: 100vw;
  text-align: center;
}

span {
  font-size: 32px;
  border-top: 1px solid black;
  color: rgb(5, 150, 240);
  padding-top: 2px;
}

iframe {
  padding-top: 20px;
  zoom: 50%;
}
.frame-container {
  zoom: 200%;
}

.mid {
  animation: slide 60s infinite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slides img {
  margin-top: 4rem;
  width: 100%;
}

.right {
  margin-left: 4vw;
}

.mini-img img {
  width: 50%;
  max-height: 6rem;
  margin-top: 4vh;
  cursor: pointer;
  animation: mini-img 1s infinite;
  transition: 0.5s;
  animation-delay: calc(var(--order) * 500ms);
}

.container {
  margin-top: 2rem;
  margin-left: 0.5vw;
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 50px;
  height: 2px;
  background-color: #333;
  margin: 7px 0;
  transition: 0.5s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
